<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body>

    
    <div class="container">
    <%= render partial: "layouts/nav" %>
    <section class="bg-light">
    <%= render partial: "layouts/header" %>

    <%= yield %>

    </section>
  </div>
    <%= render partial: "layouts/footer" %>


  </body>
</html>
