

<div class="card w-70 mt-5"> 
       
          <div class="row">
            <div class="col-12">


<h2 class="text-center"><%= @user.username %></h2>
<p>Postive Karma: <%= @user.positive_karma %></p>
<p>Negative Karma: <%= @user.negative_karma %></p>
<p>Joined: <%= @user.created_at %>
<p><%= @user.bio %></p>


</div>
</div>
</div>

