

<div class="card w-70 mt-5"> 
       
          <div class="row">
            <div class="col-12">


<h2 class="text-center"><%= @user.username %></h2>
<p>Postive Karma: <%= @user.positive_karma %></p>
<p>Negative Karma: <%= @user.negative_karma %></p>
<p>Joined: <%= @user.created_at %>
<p><%= link_to "Posts", users_posts_path(@user) %></p>
<p><%= link_to "Comments", users_comments_path(@user) %></p>
<p><%= link_to "Replies", users_replies_path(@user) %></p>

<p><%= @user.bio %></p>



</div>
</div>
</div>

