
<div class="container">

<h1>NOppression News</h1>
<h4>Not Today, Son. Not On My Worst Day.</h4>





<p id="notice"><%= notice %></p>




    <% @posts.each do |post| %>
      
     <div class="card w-70 mt-5"> 
       
          <div class="row">
            <div class="col-12">
              <h5 class="card-title"> <%= post.upvotes %> 



                 <%= link_to post.headline, post.url %></h5>
            </div>
          </div>


          <div class="row">
            <div class="col-4">
              <p class="card-text">By <%= User.find_by_id(post.user_id).username %> <%= time_ago_in_words post.created_at %> ago</p>
            </div>
          


            <div class="col-8 pull-right">
              <div class="url float-right">
             <p class="card-text"> (<%= post.url %>) </p>
              </div>

          </div>
        </div>
    
       <div class="row mt-2">
          <div class="col-4">


                <%= link_to "#{post.comments.count} Comments", post, class: "text-light btn btn-success btn-sm" %>

                                 <% if current_user && (post.user_id == current_user.id ) %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?', class: "btn btn-warning" } %>
              
              <% end %>
        </div>

       </div>
       


      
    </div>
     
    <% end %>

 </div>
<br>



		

