
<div class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5"><%= link_to 'New Comment', new_post_comment_path(@post), class: "btn text-dark btn-warning btn-lg" %></h3>
                <div class="row">

             <% comments.order(created_at: :desc).each do |c| %>


                    <div class="col-md-12 mt-3">
                        <div class="media"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://source.unsplash.com/random/200x200" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5 class="mr-2"><%= c.user.username %></h5> <p class="mt-1"> <%= time_ago_in_words c.created_at %> ago </p>
                                      <div class="reply ml-3"> 
                                        <i class="fa fa-reply text-danger"></i> 
                                          <%= link_to 'Reply', new_post_comment_reply_path(@post, c.id), class: " text-danger" %>
                                          <% if current_user.moderator %>
                                                <%= link_to 'Destroy', comment_path(c.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                                          <% end %>
                                          

                                      </div>
                                    </div>
                              
                                </div> <%= c.body %> 

                                <% if c.replies.any? %>
                                  <% c.replies.order(created_at: :desc).each do |reply| %>
                                <div class="media mt-4"> <a class="pr-3" href="#">

                                <img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://source.unsplash.com/random/200x200" /></a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5 class="mr-2"><%= reply.user.username %> </h5> 
                                                <p class="mt-1"><%= time_ago_in_words reply.created_at %> ago</p>
                                            </div>
                                        </div> <%= reply.body %>
                                    </div>
                                </div>

                                <% end %>
                                <% end %>
    
                            </div>
                        </div>
                      </div>
                <% end %>


                   
                </div>
            </div>
        </div>
    </div>
</div>


