
<div class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5"><%= link_to 'New Comment', new_post_comment_path(@post), class: "btn text-dark btn-warning btn-lg" %></h3>
                <div class="row">

             <% comments.each do |c| %>


                    <div class="col-md-12 mt-5">
                        <div class="media"> 
                            <div class="media-body">
                                <div class="row ">
                                    <div class="col-8 d-flex">
                                        <h5 class="mr-2">

                                            <%= link_to "#{c.user.username}", user_path(c.user.id) %>
                                            
                                                

                                            </h5> <p class="mt-1"> <%= time_ago_in_words c.created_at %> ago </p>
                                      <div class="reply ml-3"> 
                                        <i class="fa fa-reply text-danger"></i> 
                                          <%= link_to 'Reply', new_post_comment_reply_path(post_id: @post.id, comment_id: c.id), class: " text-danger" %>
                                          <% if current_user && current_user.admin %>
                                                <%= link_to 'Destroy', comment_path(c.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                                          <% end %>
                                        
                                        <div class="row">
                                          <div class="col">

                                             <div id="comment-like-count"> 
                                              <%= render 'comments/like_link', comment: Comment.find(c.id) %>
                <%= render 'comments/likes', comment: Comment.find(c.id) %>
              </div>

            </div>
                         

            </div>

            <div class="row">

            <div class="col">
              <div id="comment-dislike-count"> 
               <%= render 'comments/dislike_link', comment: Comment.find(c.id) %> <%= render 'comments/dislikes', comment: Comment.find(c.id) %>
              </div> 
            </div>

             

            </div>
                                      </div>
                                    </div>
      
                               <div class="row pull-right ">  
                                    <div class="col-12  d-flex">
                                           <% if current_user && current_user.moderator %>
                                                <%= link_to "Flag User", flagged_path(user_id: c.user.id), method: :post %>
                                            <% end %> 

                                    

                                    </div>
                                </div>

                                </div> 


                                <div class="trix-content"><%= c.content %> </div>

                                <% if c.replies.any? %>
                                  <% c.replies.order(created_at: :desc).each do |reply| %>
                                <div class="media mt-4"> <a class="pr-3" href="#">

                                </a>

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5 class="mr-2">
                                                    <%= link_to "#{reply.user.username}", user_path(reply.user.id) %>

                                                     </h5> 
                                                <p class="mt-1"><%= time_ago_in_words reply.created_at %> ago </p>
                                                <% if current_user &&current_user.admin %>
                                                <%= link_to ' Destroy', reply_path(reply.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-1" %>
                                          <% end %>
                                            </div>
                                        </div> <%= reply.body %>

                                    </div>

                                     <div class="row  ">  
                                    <div class="col-12  d-flex">
                                           <% if current_user &&current_user.moderator %>
                                                <%= link_to "Flag User", flagged_path(user_id: c.user.id), method: :post, data: { confirm: 'Are you sure?' } %>
                                            <% end %> 

                                    

                                    </div>
                                </div>


                                              <div id="like-count"> 

                      <%= render 'replies/likes', reply: Reply.find(reply.id) %>
              

              </div>
                                               
        
              <div id="like-link">

               
                  <%= render 'replies/like_link', reply: Reply.find(reply.id) %>
              </div>

                                </div>

                                <% end %>
                                <% end %>
    
                            </div>
                        </div>
                      </div>
                <% end %>


                   
                </div>
            </div>
        </div>
    </div>
</div>


