
<div class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5"><%= link_to 'New Comment', new_post_comment_path(@post), class: "btn text-dark btn-warning btn-lg" %></h3>
                <div class="row">

             <% comments.order(created_at: :desc).each do |c| %>


                    <div class="col-md-12 mt-3">
                        <div class="media"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://source.unsplash.com/random/200x200" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5><%= c.user.username %></h5> <span>- 2 hours ago</span><div class="reply ml-3"> <a href="#"><span><i class="fa fa-reply"></i> reply</span></a> </div>
                                    </div>
                              
                                </div> <%= c.body %> 

                                <% if c.replies.any? %>
                                  <% c.replies.order(created_at: :desc).each do |reply| %>
                                <div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://source.unsplash.com/random/200x200" /></a>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5><%= reply.user.username %></h5> <span>- 3 hours ago</span>
                                            </div>
                                        </div> <%= reply.body %>
                                    </div>
                                </div>

                                <% end %>
                                <% end %>
    
                            </div>
                        </div>
                      </div>
                <% end %>


                   
                </div>
            </div>
        </div>
    </div>
</div>


