
<div class="container">

<h2 class="text-center">Top</h2>

<p id="notice"><%= notice %></p>




    <% @posts.each do |post| %>
      
     <div class="card w-70 mt-5"> 
       
          <div class="row">
            <div class="col-12">
              <h5 class="card-title card-headline"> 



                 <%= link_to post.headline.capitalize, post.url.truncate(100) %></h5>
            </div>
          </div>


          <div class="row">
            <div class="col-4">
              <p class="card-text"><%= render 'posts/like_link', post: post %> <%= render 'posts/likes', post: post %> | Submitted by <%= link_to User.find_by_id(post.user_id).username , user_path(post.user.id) %>

                 <%= time_ago_in_words post.created_at %> ago</p>
                 <p> <%= post.body.truncate(60) %> </p>
            </div>
          


            <div class="col-8 pull-right">
              <div class="url float-right">
             <p class="card-text"> (<%= post.url %>) </p>
              </div>

          </div>
        </div>
    
       <div class="row mt-2">
          <div class="col-4">


               <%= link_to post, class: "text-light btn btn-success btn-sm" do %>
                <%= post.comments.count %> <%= "comment".pluralize(post.comments.count) %>
               <% end %>
                

                                 
        </div>

       </div>
       


      
    </div>
     
    <% end %>

 </div>
<br>



    

