<p id="notice"><%= notice %></p>

<h1>Replies</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>User</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.comment_id %></td>
        <td><%= reply.upvotes %></td>
        <td><%= reply.downvotes %></td>
        <td><%= reply.user_id %></td>
        <td><%= reply.body %></td>
       
       
         <% if current_user.moderator %>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
