<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>User</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= Post.find(comment.post_id) %></td>
        <td><%= comment.upvotes %></td>
        <td><%= comment.downvotes %></td>
        <td><%= User.find(comment.user_id).username %></td>
        <td><%= comment.body %></td>
       
        <% if current_user.moderator %>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

